@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
.main{
    margin:0 80px;
} 
.contactForm{
    font-family: "Fira Sans", sans-serif;
    padding:0 34px;
    padding-top: 144px;
}
.contactForm h1{
    font-family: "Source Code Pro", monospace;
    padding: 12px 0;
    /* text-align: center; */
}
.contactForm form div{
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
}
.contactForm form div input{
    width: 16vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding:3px 0 0 0;
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width: 24px;
    margin: 3px 0;
}
.btn-sm{
    font-size: 14px;
    padding: 10px 19px;
    margin: 12px 0;
}